@media only screen and (max-width: 800px){
    
    section{
        width: fit-content;
    }

    .otsikko{
        min-width: fit-content;
    }
    .footer{
        min-width: 100%;
    }
    .gridi{
        grid-template-columns: auto auto;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
    }
}